@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a .NET web app made by me Kyle Rigler to help other True Coders with the C# language welcome to the flash card app
        please click the top nav bar tabs to view flashcards
    </p>
</div>
