@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Welcome to the flash card app, created by Kyle Rigler using .NET technology, to assist fellow True Coders in their class. To view the flash cards, kindly click on the tabs located in the top navigation bar.
    </p>
</div>
<div class="text-center">
    <img src="img\TrueCodersLogo_Inline.jpg">
</div>
