@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a .NET web app made by me Kyle Rigler to help other True Coders with the C# language welcome to the flash card app
        please click the top nav bar tabs to view flashcards
    </p>
</div>
<div class="text-center">
    <img src="img\TrueCodersLogo_Inline.jpg">
</div>
<div><iframe width="600" height="400" src="https://www.youtube.com/embed/vc0pNGID5os" title="Time View" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
