@model IEnumerable<FlashCard>
<div>
    <h1 class="Title">CSS Flash Cards</h1>
</div>
<div class="flashcard-container">
    @foreach (var flashCard in Model)
    {
        <div class="flashcard">
            <div class="front">@flashCard.Front</div>
            <div class="back">@flashCard.Back</div>
        </div>
    }
</div>
