.Title[b-nzk4z8q3v4] {
    text-align: center;
    margin-bottom: 50px
}

.flashcard-container[b-nzk4z8q3v4] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flashcard[b-nzk4z8q3v4] {
    width: 300px;
    height: 200px;
    margin: 10px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .flashcard:hover .front[b-nzk4z8q3v4] {
        transform: rotateY(190deg);
    }

    .flashcard:hover .back[b-nzk4z8q3v4] {
        transform: rotateY(0);
    }

.front[b-nzk4z8q3v4], .back[b-nzk4z8q3v4] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    align-self: center;
}

.front[b-nzk4z8q3v4] {
    background-color: deepskyblue;
    z-index: 2;
}

.back[b-nzk4z8q3v4] {
    background-color: #88888d;
    transform: rotateY(180deg);
    z-index: 1;
}
