.Title{
    text-align:center;
}

.Title {
    text-align: center;
    margin-bottom: 50px
}

.flashcard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flashcard {
    width: 300px;
    height: 200px;
    margin: 10px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .flashcard:hover .front 
    {
        transform: rotateY(180deg);
 
    }

    .flashcard:hover .back {
        transform: rotateY(0);
    }

.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    align-self: center;
}

.front {
    background-color: gray;
    z-index: 2;
}

.back {
    background-color: #f5f5f5;
    transform: rotateY(0deg);
    z-index: 1;
}


