
.Title[b-1zpdmaycft] {
    text-align: center;
    margin-bottom: 50px
}

.flashcard-container[b-1zpdmaycft] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flashcard[b-1zpdmaycft] {
    width: 300px;
    height: 200px;
    margin: 10px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    
    text-align: center;
   
}

.flashcard:hover .front[b-1zpdmaycft] 
{
  transform: rotateY(180deg);
}

 .flashcard:hover .back[b-1zpdmaycft] 
 {
   transform: rotateY(0);
 }
.front[b-1zpdmaycft], .back[b-1zpdmaycft] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    align-self: center;
}

.front[b-1zpdmaycft] 
{
    background-color: deepskyblue;
    z-index: 2;
}

.back[b-1zpdmaycft] {
    background-color: #88888d;
    transform: rotateY(0deg);
    z-index: 1;
}
body[b-1zpdmaycft]
{
    background-color:gray;
}


